.MenuOrderCounter {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 60%;
  padding: 20px;
  
  color: white;
  font-size: 16px
}

.MenuOrderCounter nav {
  background-color: transparent;
  padding: 10px;
}

.MenuOrderCounter nav ul {
  display: flex;
  justify-content: space-around;
}

.MenuOrderCounter nav li {
  display: inline;
}

.buttonNoSelect {
  background-color: #776758;
  color: white;
  
  border: 5px solid #776758;
  border-bottom-width: 0;
  border-radius: 20px 20px 0 0;

  padding: 12px;
  font-size: 16px;
  cursor: pointer;
}

.buttonNoSelect:hover {
  background-color: #9c836b;
  border: 5px solid #9c836b;
  border-bottom-width: 0;
}

.buttonSelect {
  color: white; 

  background-color: #9D7651;
  border: 5px solid #E7C8A3;
  border-bottom-width: 0;
  border-radius: 20px 20px 0 0;

  padding: 12px;
  font-size: 16px;

  position: relative;
  z-index: 1
}

.MenuOrderCounter section {
  background-color: #9D7651;
  border: 5px solid #E7C8A3;
  border-radius: 20px;

  padding: 20px;
  height: 70%;
  width: 60%;
  
  position: absolute;
  z-index: 0;
  margin-top: 55px;
}