* {
  margin: 0;
  padding: 0;
  font-family: 'Onest', sans-serif;
}

body {
  background: rgb(22, 22, 22);
}

#root {
  display: flex;
  justify-content: center;
}

.green-word {
  color: #52C185;
}

.red-word {
  color: #973434;
}